@charset "UTF-8";
/* Fontawesome 4.7 */
@import
	url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	;

/* Google Web Fonts CDN */
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

a {
	text-decoration: none;
	color: #222;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
/* item */
.item {
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 20px rgba(0,0,0,0.164);
}

.item img {
	transition: 0.5s;
}
.item:hover img {
	filter: blur(2px);
}

.detail {
	background-color: #f8f8f8;
	position: absolute;
	width: 100%;
	bottom: -164px;
	left: 0;
	height: 50%;
	transition: 0.5s;
	padding: 0 20px;
	box-sizing: border-box;
}

.item:hover .detail {
	bottom: 0;
}
/* tilte */
.title {
	border-bottom: 1px solid #ddd;
	
	/* 자식요소(.title h2)가 flout 속성이 들어가있어 크기를 잃어버려서 써야됨 */
	overflow: hidden;
	
	margin-bottom: 10px;
}

.title h2 {
	font-size: 16px;
	color: #888;
	line-height: 1.2em;
	float: left;
}

.title h2 em {
	font-style: normal;
	display: block;
	color: #000;
	margin-bottom: 5px;
	font-size: 20px;
}

.title .price {
	float: right;
	margin-top: 15px;
	font-size: 20px;
	color: crimson;
}
/* info */
.info{
	position: relative;
}
/* size */
/* .size,.color{
	margin: 10px;
} */
.size label,
.color label{
	display:block;
	margin-bottom: 5px;
}
.size span{
	font-size: 12px;
	/* color:#fff;
	background-color: #000; */
	margin-right: 5px;
	width: 15px;
	height: 15px;
	display: inline-block;
	text-align: center;
	line-height: 15px;
	
	padding: 2px;
	border-radius: 3px;
	cursor: pointer;
}
.size span.active,
.size span:hover{
	color: #fff;
	background-color: #000;	
}

/* color */
.color span{
	border: 1px solid #000;
	width: 17px;
	height: 17px;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
}
.color span:nth-of-type(1){
	background-color: #808000;
}
.color span:nth-of-type(2){
	background-color: #ff8000;
}
.color span:nth-of-type(3){
	background-color: #80ff00;
}
.color span:nth-of-type(4){
	background-color: #8080ff;
}
.color span:nth-of-type(5){
	background-color: #8f80f0;
}

.color span.active,
.color span:hover{
	border: 5px solid #000;
	width: 10px;
	height: 10px;
}

.add-cart{
	border: 1px solid #ddd;
	width: 100%;
	padding: 7px;
	background-color: #fff;
	color : #000;
	cursor:pointer;
	margin-top: 10px;
	outline: none;
}
.add-cart:hover{
	background-color: #000;
	color : #fff;
}

/* like */
.like{
	cursor: pointer;
}
.like:before{
	content: '\f08a';
	font-family: fontawesome;
	color: #ddd;
	position: absolute;
	right:0;
	top:0;
}
.like.active:before {
	content: '\f004';
	color: crimson;
}

.size span,.color span{
	transition:0.4s;
}






















































