@charset "UTF-8";
/* Fontawesome 4.7 */
@import
	url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	;

/* Google Web Fonts CDN */
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

body{
	font-family: 'Noto Sans KR', sans-serif;
	color: #222;
	margin: 0;
	font-weight: 300;
}
a{
	text-decoration: none;
	color:#222;
}
h1, h2, h3, h4, h5, h6{
	font-weight: normal;
}


/* layout */
section{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
section article{
	/* border: 1px solid red; */
	width: 880px;
	height: 500px;
}

/* heading */
.heading{
	text-align: center;
}
.heading span{
	color: crimson;
	font-size:24px;
}
.heading h1{
	font-size:36px;
	margin-top:10px;
}
.heading h1 em{
	font-style: normal;
	position: relative;
}
.heading h1 em:after{
	position:absolute;
	content: url("../images/logo-kakao.png");
	top: -25px;
	right: -30px;
}

/* content */
.content{
	
}
.content > div{
	/* border: 1px solid blue; */
	width: 50%;
	float: left;
	height: 400px;
	box-sizing: border-box;
}
.accordion{
	
}
.title{
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	padding-left: 15px;
	
	margin-bottum: 10px;
}
.title:after{
	content: '\f105';
	font-family: fontawesome;
	float: right;
	margin-right: 5px;
	margin-top: 3px;
	transition: 0.5s;
}
.title.active:after{
	transform: rotate(90deg);
	color: orange;
}
.title:hover,.title.active{
	background-color: #203049;
	color:#fff;
}
.desc{
	padding: 20px;
	display: none;
}
.desc.active{
	display: block;
}
.image{
	
}

