@charset "UTF-8";
/* Fontawesome 4.7 */
@import
	url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
	;

/* Google Web Fonts CDN */
@import
	url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap')
	;

body{
	margin: 0;
	font-family: 'Noto Sans KR', sans-serif;
	color: #222;
	line-height: 1.6em;
	background-color: #f4f4f4;
	font-weight: 300;
	
	display: flex;	
	justify-content: center; /*수평 가운데  flex되어야함*/
	align-items: center;
	height: 100vh; /*vh는 모니터의 높이가 100으로봄 */
}
section{
	width: 800px;
}

/* Heading */
.heading h1{
	font-size: 30px;
	text-align: center;
}
.heading h1 span{
	color: crimson;
}
.heading input[type=text]{
	outline: none;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #ddd;
	background: #fff url("../images/search-icon.png") no-repeat center right 5px;
	background-size: 23px;
	/* padding-left: 35px; */
}
.heading input[type=text]::placeholder{
	font-style: italic;
	transition:0.5s;
}
.heading input[type=text]:focus::placeholder{
	opacity: 0;
}

.tab-inner{
	margin-top: 30px;
}
.btn{
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.btn li{
	float: left;
	width: 120px;
	text-align: center;
/* 	border: 1px solid #000; */
	border-right: 1px solid #ddd;
	padding: 5px;
	border-top: 2px solid transparent;
	margin-left: 10px;
}
.btn li:last-child{
	width: 170px;
	border-right: none;
}
.btn li:hover,
.btn li.active{
	background-color: #fff;
	border-top: 2px solid crimson;
}	

.tabs{
	
}
.tabs div{
	display: none;
	background-color: #fff;
	padding: 20px;
	box-sizing: border-box;
	/* height: 250px; */
}
.tabs div.active{
	display: block;
}
.tabs div div{	
	display:inline-block;
}

/* tab content */
.tabs div h2{
	text-align: center;
}
.tabs div img{
	float: left;
	margin-right: 10px;
	width: 200px;
}
.tabs div p{
	overflow: hidden;
}
